/* In order of top to bottom: title, high scores, begin button/current question, answers, current score */

:root {
    --purple: rgb(127, 4, 184);
    --cream: rgb(255, 255, 210);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: var(--purple);
    display: flex;
    flex-wrap: wrap;
    height: 4rem;
    justify-content: space-around;
}

body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    line-height: 1.3;
}

.question {
    font-size: 20px;
    text-align: center;
}

.answerdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex: 4;
}

#timer {
    font-size: 30px;
    text-align: center;
    color: var(--cream);
    margin-top: 10px;
}

#title {
    font-size: 50px;
    text-align: center;
    color: var(--cream);
}

#highscore {
    font-size: 30px;
    text-align: center;
    color: var(--cream);
    margin-top: 10px;
}

#answers {
    flex: 0 0 400px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--purple);
  }

  #answerText {
    text-align: center;
    color: var(--cream);
  }

#scoretext {
    text-align: center;
}

@media screen and (max-width: 992px) {
    main,
    nav {
      flex-direction: column;
    }
    nav {
        height: 11rem;
    }
  }
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}